body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sans-serif;
	padding: 30px;
}

::selection {
	background: #00b079;
	color: #fff;
}

::-moz-selection {
	background: #00b079;
	color: #fff;
}

::-webkit-selection {
	background: #00b079;
	color: #fff;
}

a {
	text-decoration: none;
}

.pageHeader {
	margin-top: 0;
	margin-bottom: .2em;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: .2em;
	overflow-wrap: break-word;
	hyphens: auto;
}

div.sideBar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(35vh + 10px);
	width: 100%;
}

img#headerPhoto {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: -1;
}

div.siteHeader {
	margin-top: 100px;
	text-align: right;
}

a:hover>div.siteHeader>h1 {
	background-color: #fff;
	color: #000;
}

div.siteHeader>h1 {
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	display: inline;
	background-color: #000;
	color: #fff;
	font-size: 2em;
	-webkit-margin-before: .67em;
	-webkit-margin-after: .67em;
}

div.navButtons>a>div {
	margin-top: 4px;
	background-color: #000;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	/* text-align:right; */;
	/* border:1px #fff solid; */;
	padding: 5px;
}

div.navButtons>a>div:hover {
	background-color: #fff;
	color: #000;
	border-color: #000;
}

div#bigHeader {
	width: auto;
	background-color: #000;
	color: #fff;
	margin-left: -38px;
	margin-top: -38px;
	margin-right: -38px;
	height: 35vh;
	position: relative;
	overflow: hidden;
	min-height: 425px;
}

div#headerPhoto {
	background-image: url(https://www.gravatar.com/avatar/763664ead00ca1ed8e12db1d5ad703c5?s=500&amp;d=identicon&amp;r=PG);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 35vh;
	background-size: cover;
	background-position: center;
}

#name {
	position: absolute;
	text-transform: uppercase;
	position: absolute;
	bottom: -16px;
	left: 40px;
	font-size: 4em;
}

div.content {
	width: 100%;
	overflow-x: hidden;
}

@media only screen and (max-width: 760px) {
	body {
		padding-top:0;
	}

	div.sideBar {
		position: relative;
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}

	img#headerPhoto {
		display: none;
	}

	div.siteHeader {
		margin-top: 0;
	}

	div.content {
		width: 100%;
	}
}
