div.content {
	overflow-y: hidden;
}

div.content hr {
	line-height: 1;
	border: 0;
	border-bottom: 1px black solid;
}

hgroup {
	position: relative;
}

div.content h1 {
	line-height: 1;
	font-weight: 100;
	font-size: 2.5em;
	margin: 0;
	display: inline;
}

div.content h3 {
	position: absolute;
	right: 0;
	bottom: -23px; /* HACKY */

	margin: 0;
	padding: 3px;
	padding-right: 0;

	background-color: white;
	border: 1px black solid;
	border-right: 0;

	font-weight: 100;
}

#postContent {
	margin-top: 20px; /* HACKY */
}

#postContent img {
	max-width: 100%;
}

#postContent pre {
	border: 1px gray solid;
	padding: 10px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
