extends ./main.pug

block head
	link(rel="stylesheet", href="css/index.css")

block pageHeader
	| Blogposts

block content
	each post, i in posts
		a(href="/post/#{post.title}")
			div.post
				h2 #{post.title}
				h3 #{post.creation}
		unless i == posts.length - 1
			hr
