doctype html
html(lang="en")
	head
		block title
			title= "Lieuwe Rooijakkers"
		block head

		link(rel="stylesheet", href="/css/main.css")

		meta(name="viewport", content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

		meta(name="description", content="Lieuwe Rooijakkers' Blog. Web front- and back-end developer.")

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-58557943-1', 'auto');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');

	body
		nav
			div.sideBar
				a(href="/")
					div.siteHeader
						h1
							| &nbsp;Lieuwe&nbsp;
							br
							| &nbsp;Rooijakkers&nbsp;
				div.navButtons
					a(href="/me"): div About&nbsp;
					a(href="/resume"): div Résumé&nbsp;
					a(href="/projects"): div Projects&nbsp;
					br
					a(href="https://www.facebook.com/lieuwe.rooijakkers", target="_blank"): div Facebook&nbsp;
					a(href="https://www.twitter.com/LieuweR", target="_blank"): div Twitter&nbsp;
					a(href="https://plus.google.com/+LieuweRooijakkers", target="_blank"): div Google+&nbsp;
					a(href="https://www.github.com/Lieuwex", target="_blank"): div Github&nbsp;
					a(href="mailto:lieuwerooijakkers@gmail.com", target="_blank"): div Mail&nbsp;
					a(href="/pgp", target="_blank"): div PGP key&nbsp;
		section
			div.content
				block content

		a(href="https://plus.google.com/+LieuweRooijakkers", rel="publisher")
