extends ./main.jade

block head
	link(rel="stylesheet", href="/css/projects.css")

block title
	title= "Lieuwe Rooijakkers | Projects"

block content
	a(href="http://www.simplyHomework.nl/")
		div.project
			div.projectTitle simplyHomework
			div.projectBack(style="background-image: url('/simplyHomework.png');")