extends ./main.jade

block head
	link(rel="stylesheet", href="/css/projects.css")

block title
	title= "Lieuwe Rooijakkers | Projects"

block content
	a(href="http://www.simplyHomework.nl/")
		div.project
			div.projectTitle simplyHomework
			div.projectBack(style="background-image: url('/simplyHomework.jpg');")
	a(href="http://simplyApps.nl/MagisterJS")
		div.project
			div.projectTitle Magister.js
			div.projectBack(style="background-image: url('/magisterJS.jpg');")