extends ./main.pug

block head
	link(rel="stylesheet", href="/css/projects.css")

block title
	title= "Lieuwe Rooijakkers | Projects"

block pageHeader
	| Projects

block content
	a(href="https://github.com/lieuwex/whapp-irc")
		div.project
			div.projectTitle whapp-irc
			div.projectBack(style="background-image: url('/whapp-irc.png'); background-position: center top;")
	a(href="http://www.ceramicarts.nl/")
		div.project
			div.projectTitle Gerda van den Bergh-Arents
			div.projectBack(style="background-image: url('/ceramicarts.png'); background-position: center top;")
	a(href="https://github.com/simplyGits/simplyHomework")
		div.project
			div.projectTitle simplyHomework
			div.projectBack(style="background-image: url('/simplyHomework.png'); background-position: center top;")
	a(href="http://simplygits.github.io/MagisterJS/")
		div.project
			div.projectTitle Magister.js
			div.projectBack(style="background-image: url('/magisterJS.jpg');")
