extends ./main.jade

block head
	link(rel="stylesheet", href="/css/resume.css")

block title
	title= "Lieuwe Rooijakkers | Résumé"

block pageHeader
	| Résumé

block content
	table
		tbody
			tr
				td Full Name
				td Lieuwe Laurens Rooijakkers
			tr
				td Education
				td.
					<b>2010 - 2017</b>: Adelbert College Wassenaar VWO<br>
					<b>2017 - Now</b>: Leiden University Bachelor Computer Science<br>
			tr
				td Skills
				td.
					Front- and back-end development in:<br>
						- C#<br>
						- Python<br>
						- GO<br>
						- JavaScript<br>
						- CoffeeScript<br>
						- C(++)<br>
					<br>
					Using frameworks and tools such as:<br>
						- .NET<br>
						- Meteor<br>
						- MongoDB<br>
						- Node.js<br>
