extends ./main.jade

block head
	link(rel="stylesheet", href="/css/resume.css")

block title
	title= "Lieuwe Rooijakkers | Résumé"

block content
	table
		tbody
			tr
				td Full Name
				td Lieuwe Laurens Rooijakkers
			tr
				td Education
				td.
					<b>2010 - Now</b>: Adelbert College Wassenaar<br>
			tr
				td Skills
				td.
					Front- and back-end development in:<br>
						- C#<br>
						- Python<br>
						- GO<br>
						- JavaScript<br>
						- CoffeeScript<br>
					<br>
					Using frameworks and tools such as:<br>
						- Meteor<br>
						- .NET<br>
						- Meteor<br>
						- MongoDB<br>
						- Node.js<br>
