extends ./main.jade

block title
	title= "Lieuwe Rooijakkers | Short Link Stats"

block content
	| <b>short</b>: http://www.lieuwex.me/#{short}<br>
	| <b>long</b>: #{long}<br>
	| <b>clicks</b>: #{clicks}<br>
